{{extend 'layout.html'}}
<div class="row innerheadercontainer">
  <div class="col-md-12 innerheader">
        <div class="row pagetitle">
          <div class="col-md-12">
            <h3>Editorials for {{=db.contests(request.args(0)).Contest_Name}}</h3>
          </div>
        </div>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
        Problem Name :
    </div>
    <div class="col-md-4">
        Editorial Author :
    </div>
</div>
<br/>
 {{for rows in editorial :}}
{{a=db.problems[rows.pid].contest_id}}
{{if a==cid :}}
<div class="row">
    <div class="col-md-4">
        {{=(A(db.problems[rows.pid].name, _href=URL('ind_editorial',args=rows.id)))}}
    </div>
    <div class="col-md-4">
        {{=db.auth_user[rows.author].username}}
    </div>
</div>
<br/>
{{pass}}
{{pass}}
