.my_label
{
    font-size:2rem;
    padding-left:30px;
    padding-top:10px ;
}
.my_label2
{
    font-size:2rem;
    padding-left:30px;
    padding-top:20px ;

}
.my_label3
{
    font-size:1.4rem;
    padding-left:30px;
    padding-top:20px ;
}
.my_button
{
    padding-left: 50px ;
    padding-top: 15px ;
}
.my_upload_image
{
    padding-top:10px;
}
.my_input_box
{
    padding-top: 10px;
}
