.my_label
{
    font-size:2rem;
    padding-left:30px;
    padding-top:10px ;
}
.my_label3
{
    font-size:1.8rem;
    padding-left:30px;
    padding-top:10px ;
}
.my_button
{
    padding-left: 50px ;
    padding-top: 15px ;
}
