{{extend 'layout.html'}}
<style>
    .m
    {
        cursor: pointer;
    }
    pre{
    word-wrap: break-word;
        white-space:pre-wrap;
    }
</style>
<div class="row innerheadercontainer">
  <div class="col-md-12 innerheader">
        <div class="row pagetitle">
          <div class="col-md-12">
            <a href="{{=URL('discuss','discuss_main')}}">Discussion Forum</a> >> Question
          </div>
        </div>
  </div>
</div>
<div class="row">
    <div class="col-md-8" style="font-size:6em">{{=post_question.title}}</div>
 <div class="col-md-4">
     <div class="row"><br/></div>
     <div class="row"><br/></div>
     <div class="row"><br/></div>
     <div class="row">
         {{if problem:}}
    <div class="col-md-9" style="font-size:2em"> Go to problem: </div>
    <div class="col-md-3"style="font-size:2em">{{=A(problem[0].name,_href=URL("default","problem",args=problem[0].id),_target="_blank")}}</div>
     {{pass}}
     </div>
     </div>
</div>
<br/>
<div class="row">
    <div class="col-md-8">{{=PRE(XML(post_question.description))}}</div>
    <div class="col-md-1">
          <form><input type="hidden" id="idss" name="idss" value="" /></form>
        <div style="float:right; display:inline-inline"> <img style="height:20px; width:20px; padding:0px" src="{{=URL('static','images/likec.jpeg')}}"/><span id="q{{=post_question.id}}">{{=likes}}</span> <br />
 <button style="padding:0px" id="bp{{=post_question.id}}" onclick="document.getElementById('idss').value={{=post_question.id}};
                ajax('{{=URL('discuss','add_likep')}}', ['idss'], 'q{{=post_question.id}}');"><img style="height:25px; width:25px; padding:0px" src="{{=URL('static','images/index.png')}}"/></button>
    </div>

    </div>
</div>
<br/>

<br/>
<form><input type="hidden" id="ids" name="ids" value="" /></form>

<div class="row">
  <div class="col-md-12">
    {{for comments in comment:}}
    <div>
    <div class="col-md-6"  style="border-style: solid;
    border-width: 1px;border-radius: 5px;padding:7px;">{{=XML(comments.comment_text)}}</div>
    <div class="col-md-2"><div class= "m" style="color:purple" id="b{{=comments.id}}" onclick="document.getElementById('ids').value={{=comments.id}};ajax('{{=URL('discuss','add_like')}}',['ids'], 'ids');"onmouseover="document.getElementById('b{{=comments.id}}').style.color='red';" onmouseout="document.getElementById('b{{=comments.id}}').style.color='purple';">Like
</div><br/>
        </div>
    </div>

    {{pass}}
  </div>
</div>
<br>
<div class="row"><div class="col-md-6">
<form enctype="multipart/form-data" _action="(={{URL('discuss_show',args=[post_question.id,page])}})" method="post" role="form">

       <label id="commnets_comment_text__label"
                  for="commnets_comment_text">Post Your Answer: </label>


       <textarea class="form-control" rows="12" name="comment_text" value="" id="commnets_comment_text"></textarea>

      <input type="hidden" value=post_question.id name="pid"></input>
      <input type="hidden" value=page name="pno">
<br>
  <input value="Submit" type="submit" />
  <input value="9038845529" type="hidden" name="_formkey" />
  <input value="comments" type="hidden" name="_formname" />
</form>

</div></div>
{{if page:}}
    <a href="{{=URL(args=[page-1],vars=dict(pid=post_question.id,page=page-1))}}" margin="4px">previous</a>
{{pass}}

{{if len(comment)>items_per_page:}}
    <a href="{{=URL(args=[page+1],vars=dict(pid=post_question.id,page=page+1))}}" style="margin:10px">next</a>
{{pass}}
