{{extend 'layout.html'}}
<div class="row innerheadercontainer">
  <div class="col-md-12 innerheader">
        <div class="row pagetitle">
          <div class="col-md-6">
            <h3>Blog</h3>
          </div>
          <div class="col-md-6" style="text-align:right;">
            <a href="{{=URL('blog','post_blog')}}"><input type="button" class="btn btn-default" value="Post Blog"></a>
          </div>
        </div>
  </div>
</div>
<div class="row">
    <div align="center">

      <img width="800px" height="150px"
      src="{{=URL('static', 'images/b.png')}}" />

    </div>

</div>
<div class="row">
  <div class="col-md-3">
    <h3><u>All Blogs Till Now</u></h3>
  </div>
  <div class="col-md-3">
    <h4>&nbsp;</h4>
  </div>
  <div class="col-md-2">
    &nbsp;
  </div>
  <div class="col-md-2" align="right" style="font-color:black">
    <h4><u><a href="{{=URL('blog','blog_main',vars=dict(orderby='1'))}}">Recent</a></u></h4>
  </div>
  <div class="col-md-2" style="font-color:black">
    <h4><u><a href="{{=URL('blog','blog_main',vars=dict(orderby='2'))}}">Most Liked</a></u></h4>
  </div>
</div>
<br />
<hr />
{{for i,b in enumerate(rows):}}
      {{if i==items_per_page: break}}
<div class="row">

  <div class="col-md-8" align="left">
    <a href="{{=URL('blog','blog_show',vars=dict(pi=b.id,page=0))}}"><h3><b>{{=b.title}}</b></h3></a>
    <div class="row" align="center">
      <h5><b> By {{=b.user_id.first_name}}</b></h5>

</div>
</div>
<div class="col-md-2" align="left">
  <h4>{{=b.views}}</h4>
  <div class="row">
    <h5><b>Views</b></h5>
  </div>
</div>
<div class="col-md-2" align="left">
  <h4>{{=b.number_likes}}</h4>
  <div class="row" >
    <h5><b>Likes</b></h5>
  </div>
  </div>

</div>
<hr />
{{pass}}
{{if page:}}
  <a href="{{=URL(args=[page-1])}}">previous</a>
{{pass}}
{{if len(rows)>items_per_page:}}
<a href="{{=URL(args=[page+1])}}">next</a>
{{pass}}
